
body {
  margin: 0;
  padding: 0;
  background-color: rgb(51, 49, 52);
}

header{
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: auto;
}

h1{
  color: white;
  font-family: 'Verdana' sans-serif;
  font-size: 25px;
}

h2{
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: 'Verdana', sans-serif;
  margin-top: 20px;

}

a {
  color: white;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  text-decoration: none;
  border-bottom: 4px solid grey;
  

}

.Href{
  display: flex;
  justify-content: center;
  padding-bottom: 110px;
}

p{
  color: white; 
  max-width: 550px;
  text-align: center;
  margin: auto;
  font-size: 18px;
  font-family: 'Lucida Sans Regular' Verdana, sans-serif;
  padding-bottom: 5px;
  
}

button{
  width: 150px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  border: none;
  cursor: pointer;

  
}

.btn{
  text-align: center;
  margin-top: 20px;
}

.footer{
  margin-top: 220px;
}

.Text{
  text-align: center;
  color:white;
  margin-bottom: 20px;
  
}

h3{
  text-align: center;
  color: white;
  max-width: 520px;
  margin: auto;
  font-size: 30px;  
}

.active {
  border-bottom: 4px solid #fff;
}

.Map{
  display: flex;
  justify-content: center;
  margin-bottom: 260px;
  
}